
Game.sln
Game.vcxproj
Game.vcxproj.user
.vs/Game/v16/.suo
.vs/Game/v16/Browse.VC.db
.vs/Game/v16/ipch/AutoPCH/4a9e1842b749f3ab/MAIN.ipch
*.ilk
bin/Debug/Game.exe
bin/Debug/Game.pdb
Game.vcxproj.filters
*.ipch
obj/Debug/Game.Build.CppClean.log
obj/Debug/Game.exe.recipe
obj/Debug/Game.log
obj/Debug/Game.tlog/CL.command.1.tlog
obj/Debug/Game.tlog/CL.read.1.tlog
obj/Debug/Game.tlog/CL.write.1.tlog
obj/Debug/Game.tlog/Game.lastbuildstate
obj/Debug/Game.tlog/link.command.1.tlog
obj/Debug/Game.tlog/link.read.1.tlog
obj/Debug/Game.tlog/link.write.1.tlog
obj/Debug/Game.vcxproj.FileListAbsolute.txt
obj/Debug/Main.obj
obj/Debug/vc142.idb
obj/Debug/vc142.pdb
obj/Debug/Core.obj
*.obj
obj/Debug/glad.obj
*.tlog
*.pdb
*.log
*.recipe
*.obj
*.obj
obj/Debug/Renderer.obj
*.exe
imgui.ini
*.enc
